{% extends 'base.html.twig' %}

{% block body %}
    <h1>Addressbooks list</h1>

    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Street</th>
                <th>Housenumber</th>
                <th>Zip</th>
                <th>City</th>
                <th>Country</th>
                <th>Phone</th>
                <th>Birthday</th>
                <th>Email</th>
                <th>Picture</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for addressBook in addressBooks %}
            <tr>
                <td><a href="{{ path('addressbook_show', { 'id': addressBook.id }) }}">{{ addressBook.id }}</a></td>
                <td>{{ addressBook.firstname }}</td>
                <td>{{ addressBook.lastname }}</td>
                <td>{{ addressBook.street }}</td>
                <td>{{ addressBook.houseNumber }}</td>
                <td>{{ addressBook.zip }}</td>
                <td>{{ addressBook.city }}</td>
                <td>{{ addressBook.country }}</td>
                <td>{{ addressBook.phone }}</td>
                <td>{{ addressBook.birthday|date("d.m.Y") }}</td>
                <td>{{ addressBook.email }}</td>
                <td><img src="{{ asset('uploads/pictures/' ~ addressBook.picture) }}" width="50" height="50"></td>
                <td>
                    <a class="btn btn-info" href="{{ path('addressbook_show', { 'id': addressBook.id }) }}">show</a>

                    <a class="btn btn-primary" href="{{ path('addressbook_edit', { 'id': addressBook.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success"  href="{{ path('addressbook_new') }}">Create</a>

{% endblock %}
