{% extends 'base.html.twig' %}

{% block body %}
    <h1>Addressbook creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="Create" />
    {{ form_end(form) }}

    <br>

    <a class="btn btn-info" href="{{ path('addressbook_index') }}">Back to the list</a>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
{% endblock %}
